<!DOCTYPE html>
<html>
    <head>
     <meta charset="UTF-8" />
     <title>RNAvis</title>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>

    </head>
    <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">RNAvis</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
     </div>
  </div>
</nav>
    </div>
</div>
<div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <select class="form-control input-sm" id="postgres_schema_id"></select>
        <br>
        <select class="form-control input-sm" id="postgres_table_id"></select>
        <br>
        <button type="button" class="btn btn-primary" id="postgres_table_select_id">submit</button>
      </div>
  </div>
</div>
    </body>
</html>
<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

</style>
<body>


<script src="//d3js.org/d3.v3.min.js"></script>

<script>
var postgres = {{ counts_tables|safe }}
console.log(postgres)
window.onload = function() {
  // provs is an object but you can think of it as a lookup table


      // just grab references to the two drop-downs
      schema_select = document.querySelector('#postgres_schema_id'),
      table_select = document.querySelector('#postgres_table_id');

  // populate the provinces drop-down
  setOptions(schema_select, Object.keys(postgres));
  // populate the town drop-down
  setOptions(table_select, postgres[schema_select.value]);

  // attach a change event listener to the provinces drop-down
  schema_select.addEventListener('change', function() {
    // get the towns in the selected province
    setOptions(table_select, postgres[schema_select.value]);
  });

  function setOptions(dropDown, options) {
    // clear out any existing values
    dropDown.innerHTML = '';
    // insert the new options into the drop-down
    options.forEach(function(value) {
      dropDown.innerHTML += '<option name="' + value + '">' + value + '</option>';
    });
  }
};

var margin = {top: 50, right: 50, bottom: 50, left: 100},
    width = 550 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;


var x = d3.scale.linear()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);




var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");


var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var callback = function(error, data) {
        data.forEach(function(d) {
            d.pc1 = +d.pc1;
            d.pc2 = +d.pc2;
            d.pc3 = +d.pc3;
            d.pc4 = +d.pc4;
            d.exp_var1 = +d.exp_var1;
            d.exp_var2 = +d.exp_var2;
            d.exp_var3 = +d.exp_var3;
            d.exp_var4 = +d.exp_var4;
        });

    var color = d3.scale.category10();
    var axisNames = {
          pc1: "pc1" + " " + data[0].exp_var1,
          pc2: "pc2" + " " + data[0].exp_var2,
          pc3: "pc3" + " " + data[0].exp_var3,
          pc4: "pc4" + " " + data[0].exp_var4,
      };

    var testnamesx = [
      "pc1",
      "pc2",
      "pc3",
      "pc4"
    ]

    var testnamesy = [
      "pc2",
      "pc1",
      "pc3",
      "pc4"
    ]
    x.domain(d3.extent(data, function(d) { return d.pc1; })).nice();
    y.domain(d3.extent(data, function(d) { return d.pc2; })).nice();

    var tooltip = d3.select("body").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);

    if (svg.selectAll(".y.axis")[0].length < 1){
    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis)
      .append("text")
        .attr("class", "label")
        .attr("x", width)
        .attr("y", -6)
        .style("text-anchor", "end")
        .text(axisNames["pc1"]);

    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
      .append("text")
        .attr("class", "label")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text(axisNames["pc2"])
    } else {
    svg.select(".x.axis").transition().call(xAxis);
    svg.selectAll(".x.axis").selectAll("text.label").text(axisNames["pc1"]);

    svg.select(".y.axis").transition().call(yAxis);
    svg.selectAll(".y.axis").selectAll("text.label").text(axisNames["pc2"]);
    }

    var circles = svg.selectAll(".dot")
      .data(data);

    circles.exit().remove();

    circles.enter().append("circle")
      .attr("class", "dot")
      .attr("r", 3.5)

      circles.transition()
      .attr("cx", function(d) { return x(d.pc1); })
      .attr("cy", function(d) { return y(d.pc2); })
      .style("fill", function(d) { return color(d.sample[0]); })

    circles.on("mouseover", function(d) {
              tooltip.transition()
                   .duration(200)
                   .style("opacity", .9);
              tooltip.html(d.sample)
                   .style("left", (d3.event.pageX + 5) + "px")
                   .style("top", (d3.event.pageY - 28) + "px");
          })
      .on("mouseout", function(d) {
              tooltip.transition()
                   .duration(500)
                   .style("opacity", 0);
        });


    var legend = svg.selectAll(".legend")
      .data(color.domain())
      .enter().append("g")
      .attr("class", "legend")
      .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });


    legend.append("rect")
      .attr("x", width)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", color);

    legend.append("text")
      .attr("x", width - 6)
      .attr("y", 9)
      .attr("dy", ".35em")
      .style("text-anchor", "end")
      .text(function(d) { return d; });

    if (document.getElementsByName("xAx").length == 0){
      var dd_x = d3.select("#xaxis_select").append("select")
                        .attr("name", "xAx");

      var options_x = dd_x.selectAll("option")
                            .data(testnamesx)
                            .enter()
                            .append("option");
        options_x.text(function (d) { return d; })
                .attr("value", function (d) { return d; });

      var dd_y = d3.select("#yaxis_select").append("select")
                        .attr("name", "yAx");

      var options_y = dd_y.selectAll("option")
                          .data(testnamesy)
                          .enter()
                          .append("option");
        options_y.text(function (d) { return d; })
                .attr("value", function (d) { return d; });


    } else {
      var drop_downX = d3.select("#xaxis_select")
      var optionsX = drop_downX.selectAll("option")
                        .data(testnamesx);
                     optionsX.exit().remove();
                     optionsX.enter().append("option");
                     optionsX.text(function (d) { return d; })
                              .attr("value", function (d) { return d; });

      var drop_downX = d3.select("#xaxis_select")
      var optionsX = drop_downX.selectAll("option")
                        .data(testnamesy);
                    optionsX.exit().remove();
                    optionsX.enter().append("option");
                    optionsX.text(function (d) { return d; })
                             .attr("value", function (d) { return d; });

    }

    var batch_list = d3.selectAll("label")
                        .data(data);

    batch_list.exit().remove();
    batch_list.enter().append("label")
    batch_list.text(function (d) { return d.sample; });

    var sample_batch = d3.selectAll("label")
                        .append("input")
                        .attr("style", "width: 30px")
                        .attr("name", "batch")

    d3.select("[name=xAx]").on("change", function(){
    xAxy = this.value;
    console.log(xAxy)
    x.domain(d3.extent(data, function(d) { return d[xAxy]; })).nice();

    svg.select(".x.axis").transition().call(xAxis);

    svg.selectAll(".dot").transition().attr("cx", function(d) {
        return x(d[xAxy]);
    });
    svg.selectAll(".x.axis").selectAll("text.label").text(axisNames[xAxy]);
    });

    d3.select("[name=yAx]").on("change", function(){
    yAxy = this.value;
    console.log(yAxy)
    y.domain(d3.extent(data, function(d) { return d[yAxy]; })).nice();
    svg.select(".y.axis").transition().call(yAxis);
    svg.selectAll(".dot").transition().attr("cy", function(d) {
        return y(d[yAxy]);
    });
    svg.selectAll(".y.axis").selectAll("text.label").text(axisNames[yAxy]);
    });
    };

var load = function() {
    var postgres_table = document.getElementById("postgres_table_id").value;
    var schema_sel = document.getElementById("postgres_schema_id").value;
    var j = {table: postgres_table, schema: schema_sel}
    console.log(document.getElementById("postgres_table_id").value);
    d3.json("/data", callback)
    .header("Content-Type","application/json")
  .send("POST", JSON.stringify(j));
};
load();

var send_batch = function() {
    var batch_array = document.getElementsByName("batch");
    var postgres_table = document.getElementById("postgres_table_id").value;
    var bat = []
    for (i = 0; i < batch_array.length; i++) {
          bat += batch_array[i].value;
    }
    var schema_sel = document.getElementById("postgres_schema_id").value;
    var j = {batch: bat, table: postgres_table, schema: schema_sel}
    console.log(bat);
    d3.json("/data", callback)
    .header("Content-Type","application/json")
    .send("POST", JSON.stringify(j));
};

var table_select = d3.select("#postgres_table_select_id");
table_select.on("click", load);



</script>

<div id="xaxis_select"><b>X axis: </b></div>
<div id="yaxis_select"><b>Y axis: </b></div>
<button type="button" class="btn btn-primary" id="batch_submit_id">submit batch</button>
<script>
var batch_submit = d3.select("#batch_submit_id");
batch_submit.on("click", send_batch);
</script>
