<html>
   <head><head>
     <title>RNA-seq Count Data</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
     <style>
       .container {
         max-width: 1000px;
       }
     </style>
   </head>
   <body>
     <div class="container">
       <div class="row">
         <div class="col-sm-5 col-sm-offset-1">
           <h1>RNA-seq Count Data</h1>
           <br>
           <form name="table" method="POST" action="/">
             <select name="table">
               {% for tab in counts_tables %}
                   <option value={{ tab }}>{{ tab }}</option>
               {% endfor %}
           </select>
           <button type="submit">Submit</button>
           </form>
           <br>
           {% for errors in errors %}
             <h4>{{ errors }}</h4>
           {% endfor %}
           <br>
         </div>
       </div>
     </div>
     <br><br>
     <script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.native/0.9.9/bootstrap-native.min.js"></script>
   </body>
   <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
   <style>
      body {
         margin: 0px;
         padding: 0px;
         font: 12px Arial;
      }
   </style>
   </head>
   <body>
   <script type="text/javascript">
   var dataset = {{ results|safe }}
   var w = 2000;
   var h = dataset.length * 10;

   var svg = d3.select("body")
               .append("svg")
               .attr("width", w)
               .attr('height', h);

   var sample_names = {{ sample_names|safe }}

   var samples = svg.selectAll("text")
                    .data(sample_names)
                    .enter()
                    .append("text")
                    .text(function(d) {
                        return d;
                    })
                    .attr("x", function(d, i) {
                         return (i + 1)*100;
                    })
                    .attr("y", function(d, i) {
                         return 20;
                    });
    var gene = svg.selectAll("text")
                    .data(dataset)
                    .enter()
                    .append("text")
                    .text(function(d) {
                        return d.gene;
                    })
                    .attr("x", 0)
                    .attr("y", function(d, i) {
                        return (i + 1)*10
                    });

   </script>
   </body>
</html>
